.center {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
}

.question {
	width:40%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
