<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/my.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<!-- bootstrap -->
<body>
	<div class="container center" ng-app="app">
		<form id="search" ng-controller="searchCtrl" ng-submit="submit(name)">
				<div class="row">
					<div class="form-group col-lg-6 col-lg-offset-3">
						<h1 class="question"> who are you? </h1>
					  <input class="form-control" type="text" name="name" ng-model="name">
					</div>
				</div>
				<div class ="row">
					<div class="col-lg-6 col-lg-offset-3">
							<p class="answer" ng-repeat="hit in hits" ng-cloak><a href="{{hit.username}}">{{hit.username}}</a></p>
						<p class="answer" ng-if="hits == false">Nothing was found...</p>
						<p class="answer" ng-if="searching == true">Searching...</p>
						<p class="answer"><a href="http://www.bipol.me">bipol</a> · <a href="http://www.syndrisoftware.com">syndri</a></p>
					</div>
				</div>
		</form>
	</div>

	<!-- jquery -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/bower_components/socket.io-client/socket.io.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<script src="app.js"></script>

	<!-- bootstrap js -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
