<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/my.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<!-- bootstrap -->
<body>
	<div class="container center" ng-app="app">
		<div ng-controller="searchCtrl">
			<div class="row">
				<div class="form-group col-lg-6 col-lg-offset-3">
					<h1 class="question"> who are you? </h1>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-6 col-lg-offset-3">
					<form id="search" ng-submit="submit(name)">
						<div class="form-group">
						  <input class="form-control" type="text" name="name" ng-model="name">
						</div>
						<div class="form-inline">
							<div class="form-group">
								<label for="nsfw">Show NSFW</label>
								<input class="form-control nsfw" type="checkbox" ng-model="nsfw" id="nsfw">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class ="row">
				<div class="col-lg-6 col-lg-offset-3">
					<div ui-view>
					</div>
					<!-- <p class="answer" ng-repeat="hit in hits track by $index" ng-if="!hit.nsfw || hit.nsfw == nsfw" ng-cloak><a href="{{hit.url}}">{{hit.url}}</a></p>
					<p class="answer" ng-if="hits == false">Nothing was found...</p>
					<p class="answer" ng-if="searching == true">Searching...</p> -->
					<p class="answer"><a href="http://www.bipol.me">bipol</a> · <a href="http://www.syndrisoftware.com">syndri</a> · <a href="http://www.github.com/bipolalam/whoareyou">github</a></p>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/bower_components/socket.io-client/socket.io.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<script src="app.js"></script>

	<!-- bootstrap js -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
